@import "bootstrap";

input[type="submit"] {
  @extend .btn;
  @extend .btn-large;
  @extend .btn-primary;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
}

a {
  @extend .btn;
  @extend .btn-large;
  @extend .btn-default;
  margin-top: 20px;
  margin-bottom: 20px;
}
